{% extends 'base.html' %}
{% block title %} Let's Quiz | Submission Result {% endblock title %}
{% block content %}



<div class="container">

	{% for attempted in attempts%}
	<div class="jumbotron my-4">

		<h3 class="text-info">{{ attempted.question.html|safe }}</h3>
		<h4> <span class="badge bg-secondary">{{ attempted.question.categorie.nom|safe }}</span></h4>

		<p>
			<strong>Your answer: </strong>
			{{ attempted.selected_choice.html|safe }}
		</p>


		{% if attempted.selected_choice.is_correct %}
		<h4 class="text-success">Reponse correct. High Five! 🙌</h4>
		{% else %}
		<h4 class="text-danger">Reponse incorrect 😟</h4>
		<p>
			<strong>Correct answer: </strong>
			{{ attempted.question.correct_choice.html|safe }}
		</p>
		{% endif %} 

	</div>
	{% endfor %}

	{% for dict in  results%}
	<div class="progress" style="margin-bottom: 20px; height:20px;">
		<div class="progress-bar bg-success" role="progressbar" style="width:{{dict.percent}}%" aria-valuenow="75" aria-valuemin="0"aria-valuemax="100">
			{{dict.result}}
		</div>
	</div>
	{% endfor%}
</div>

{% endblock content %}